<ion-header-bar class="temaPurrsuit" align-title="center">
    <button class="button button-icon button-clear icon ion-chevron-left" ui-sref="index"></button>
</ion-header-bar>
<ion-view cache-view="false">
  <ion-content class="page">
		<img src="img/PurrsuitPersonagem.png" class="purrSuitImage" />
		<h2 class="purrTitle"> PurrSuit </h2>
    <form ng-submit="signIn(user)">
      <div class="list">
        <label class="item item-input form">
          <span class="input-label">E-mail</span>
          <input type="text" ng-model="user.email">
        </label>
        <label class="item item-input form">
          <span class="input-label">Senha</span>
          <input type="password" ng-model="user.password">
        </label>
        <div class="loginButton">
          <button class="button button-block secondColor" type="submit">Entrar</button>
        </div>
      </div>
    </form>
    <div align="center">
      <p class="warning">Não possui uma conta?</p>
      <button class="button button-clear button-light" ui-sref="signup">Crie já a sua!</button>
    </div>
  </ion-content>
</ion-view>
