<ion-header-bar class="temaPurrsuit" align-title="center">
    <button class="button button-icon button-clear icon ion-chevron-left" ui-sref="index"></button>
</ion-header-bar>
<ion-view cache-view="false">
  <ion-content class="page">
		<img src="img/PurrsuitPersonagem.png" class="purrSuitImage" />
		<h2 class="purrTitle"> PurrSuit </h2>
    <form name="myForm" ng-submit="signIn(user)">
      <div class="list">
        <label class="item item-input form">
          <span class="input-label">E-mail</span>
          <input type="email" name="username" ng-model="user.email" required="" />
        </label>
        <div class="warningLogin" ng-show="myForm.$submitted || myForm.username.$touched">
          <span ng-show="myForm.username.$error.required">
            <i class="icon icon ion-alert-circled"> </i>É necessário inserir seu e-mail!
          </span>
          <span ng-show="myForm.username.$error.email">
            <i class="icon icon ion-alert-circled"> </i>É necessário digitar um e-mail válido!
          </span>
        </div>
        <label class="item item-input form">
          <span class="input-label">Senha</span>
          <input type="password" name="password" ng-model="user.password" required />
        </label>
        <div class="warningLogin" ng-show="myForm.$submitted || myForm.password.$touched">
          <span ng-show="myForm.password.$error.required">
            <i class="icon icon ion-alert-circled"> </i>Insira sua senha!
          </span>
        </div>
        <div class="loginButton">
          <button class="button button-block secondColor" type="submit">Entrar</button>
        </div>
      </div>
    </form>
    <div align="center">
      <p class="warning">Não possui uma conta?</p>
      <button class="button button-clear button-light" ui-sref="signup">Crie já a sua!</button>
    </div>
  </ion-content>
</ion-view>
