<ion-header-bar class="temaPurrsuit" align-title="center">
</ion-header-bar>
<ion-view cache-view="false">
  <ion-content class="page">
		<img src="img/PurrsuitPersonagem.png" class="purrSuitImage" />
    <h2 class="purrTitle">PurrSuit</h2>
    <div class="loginButton">
      <button class="button button-block secondColor" ui-sref='login'>Entrar</button>
    </div>
    <div class="acessButton">
      <button class="button button-block dark-primary-color" ui-sref="app.browseDeputies">Entrar sem logar</button>
    </div>
    <div align="center">
      <p class="warning">Não possui uma conta?</p>
      <button class="button button-clear button-light" ui-sref="signup">Crie já a sua!</button>
    </div>
  </ion-content>
</ion-view>
