<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="temaPurrsuit">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content class="sideMenu" ng-controller="UserCtrl">
      <ion-list>

        <img class="full-image" src="img/sideMenuHeader.png" />
        <div class="item item-divider">
          Política
        </div>
        <a menu-close class="item item-icon-left" href="#/app/browseDeputies/search">
          <i class="icon ion-search"></i> Pesquisar Deputados
        </a>
        <a menu-close class="item item-icon-left" href="#/app/browseDeputies">
          <i class="icon ion-person-stalker"></i> Deputados
        </a>
        <a menu-close class="item item-icon-left" href="#/app/followedDeputies">
          <i class="icon ion-star"></i> Deputados Seguidos
        </a>
        <div class="item item-divider" ng-if="logged">
          Conquistas
        </div>
        <a menu-close class="item item-icon-left" href="#/app/quests" ng-if="logged" ng-controller="QuestsCtrl" ng-click="getQuests(user.id)">
          <i class="icon ion-ios-game-controller-b"></i> Minhas Quests
        </a>
        <a menu-close class="item item-icon-left" href="#/app/achievements" ng-if="logged">
          <i class="icon ion-trophy"></i> Achievements
        </a>
        <div class="item item-divider" ng-if="logged">
          Outros
        </div>
        <a menu-close class="item item-icon-left" ui-sref="app.userprofile" ng-if="logged">
          <i class="icon ion-person"></i> Perfil
        </a>
      </ion-list>
      <button class="button icon-left ion-power logoutButton" ng-click="logOut()" ng-show="logged">
        Sair
      </button>
      <button class ="button icon-left ion-chevron-left logoutButton" ng-hide="logged" ui-sref="index">
        Voltar
      </button>

    </ion-content>
  </ion-side-menu>
</ion-side-menus>
