<ion-view cache-view="false" view-title="Perfil">
  <ion-content ng-init=updateLevel()>
    <div class="list card">
      <h1 class="item item-icon-left">
        <i class=" icon ion-person"></i>
        {{currentUser.nickname}}
      </h1>
      <h2 class="item item-icon-left">
        <i class="icon ion-email"></i>
        {{currentUser.email}}
      </h2>
    </div>

    <div class="list card">
      <h1 class="item item-icon-left">
        <i class=" icon ion-person"></i>
        {{currentUser.level.level_description}}
      </h1>
      <h1 class="item item-icon-left">
        <i class=" icon ion-person"></i>
        {{currentUser.level.level_number}}
      </h1>
    </div>

    <div class="levelBar" ng-init=updateLevelBar()>
      <span  style="width: {{levelPercentage}}%"></span>
      {{currentUser.experience_points}}
    </div>

    <div id="minXpInfo">
      {{currentUser.level.xp_min}} XP
    </div>
    <div id="maxXpInfo">
      {{currentUser.level.xp_max}} XP
    </div>

    <div class="row">
      <div class="col col-50">
        <button class="button button-positive icon ion-edit" ui-sref="app.edituser">
           Editar Dados
        </button>
      </div>
      <div class="col col-50">
        <button class="button button-assertive icon ion-close" ng-click = deleteUser(currentUser.id)>
           Encerrar Conta
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
