<ion-view>
  <ion-content>
    <div class="list card">
      <div class="item item-thumbnail-left">
        <img ng-src="{{deputy.image_path}}">
        <h2><strong>Nome: </strong>{{deputy.deputy_name}}</h2>
        <!-- Priority problem down below - AngularJS Directives-->
        <!--h3 ng-controller="GetDeputyParty" ng-init="getParty()">
          <strong>Partido: </strong>
            {{deputyParty.name}}
        </h3>
        <h3 ng-controller="GetDeputyUf" ng-init="getUf()"><strong>UF:</strong>
           {{deputyUf.initials}}
        </h3-->
      </div>
    </div>

    <div class="item item-text-wrap">
      <strong>Nome Completo:</strong> {{deputy.name}}
    </div>

    <div class="item item-text-wrap">
      <strong>Registro:</strong> {{deputy.registration}}
    </div>

    <div class="item item-text-wrap">
      <strong>Situaçao:</strong> {{deputy.legislation_situation}}
    </div>

    <div class="item item-text-wrap">
      <strong>Email:</strong> {{deputy.email}}
    </div>
  </ion-content>
</ion-view>
