<ion-view>
	<ion-content ng-controller = "UserCtrl">
	  <div class="list list-inset">
	    <form ng-submit="searchDeputies(inputText)">
	      <label class="item item-input">
	        <i class="icon ion-search placeholder-icon"></i>
	        <input ng-model="inputText" type="text" placeholder="Digite aqui quem você deseja buscar...">
	      </label>
	    </form>
	  </div>
	  <div class="list">
	    <a collection-repeat="itemDeputy in deputies" href="#/app/deputy/{{itemDeputy.id}}"
	                  class="item item-avatar" ng-click=following(itemDeputy.id)>
	      <img ng-src="{{itemDeputy.image_path}}">
	      <h2>{{itemDeputy.deputy_name}}</h2>
        <h4>{{itemDeputy.party.name}}</h4>
				<h4>{{itemDeputy.uf.name}}</h4>
	    </a>
	  </div>
	</ion-content>
</ion-view>
