/* Empty. Add your own CSS if you like */
.deputy-name{
	margin-top: -79px;
	color: white;
	font-size: 20px;
	margin-left: 40%;
}
.follow-button{
	margin-top: 8px;
	margin-right: 10px;
	float: right;
	width: 100px;
	height: 10px;
}
.attributes{
	margin-top: 150px;
}
.deputyPerfil{
	background-color: #607D8B;
	width: 100%;
	height: 132px;
	margin: 0 auto;
	display: table;
	box-shadow: 2px 3px 2px #455A64;
}
.deputyImage{
	border-radius: 100%;
	width: 120px;	
	height: 120px;
	margin-top: -70px;
	margin-left: 5%;
	box-shadow: 2px 2px 2px #455A64;
}
.loginButton{
	padding: 17px;
	margin-top: -17px;
}

.acessButton{
	padding: 17px;
	margin-top: -45px;
}

.warningLogin{
	margin-top: 10px;
	margin-left: 50px;
	color: white;
}

.logoutButton{
	background-color: #FF5252;
	margin-left: 100px;
	margin-top: 50px;
}

.popup-buttons .button {
	background-color: #FF5252;
}

.popup-buttons .button.activated{
	background: #CFD8DC;
}

.warning{
	color: white;
	font-size: 17px;
	margin-bottom: -5px;
}

.purrTitle{
	color: white;
	margin: 0 auto;
	display: table;
	margin-top: -50px;
}

.form{
	margin: 0 auto;
	margin-top: 24px;
	margin-bottom: 20px;
	width: 300px;
	height: 40px;
}

.page{
	background-color: #607D8B;
}

.signupPage{
	background-color: #607D8B;
	vertical-align: middle;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.secondColor{
	background-color: #FF5252;
	color: white;
}

.dark-primary-color{
	background-color: #455A64;
	color: white;
}


.temaPurrsuit{
	background-color: #607D8B;
}
.pageTitle{
	color: white;
}
.QuestTitle{
	color: #607D8B;
}
.sideMenu{
	background-color: #CFD8DC !important;
	color:  #212121;
}

.purrSuitImage{
	width: 250px;
	height: 250px;
	margin: 0 auto;
	display: table;
	margin-top: -20px;
}
